<html>

<head>
  <meta charset="utf-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
  <div class="titlebar">
    <nav class="navbar navbar-dark bg-dark">
      <div class="navbar-nav">
        <div class="container">
          <a class="navbar-brand">
            <span id="logonav"> <img src="../images/logo.png" style="height: 30px; filter: blur(0);
              transform: translateZ(0);
              -webkit-transform: translateZ(0);" alt=""> A Z D L</span>
          </a>
        </div>
      </div>
      <div class="navbar-nav">
        <div class="buttons">
          <a class="btn btn-dark btn-sm mr-auto" id="turndev"><i class="bi bi-file-earmark-code-fill"></i></a>
          <a class="btn btn-dark btn-sm mr-auto" id="aboutapp"><i class="bi bi-info-circle-fill"></i></a>
          <a class="btn btn-dark btn-sm mr-auto" id="restapp"><i class="bi bi-skip-backward-circle-fill"></i></a>
          <a class="btn btn-dark btn-sm mr-auto" id="minapp"><i class="bi bi-dash-lg"></i></a>
          <a class="btn btn-dark btn-sm mr-auto" id="maxiapp"><i class="bi bi-square-fill"></i></a>
          <a class="btn btn-dark btn-sm mr-auto" id="closeapp"><i class="bi bi-x-lg"></i></a>
        </div>
      </div>
    </nav>
  </div>
  <div class="cuerpo">
    <div class="container">
      <div class="row mt-5">
        <div class="col-sm-6 colm1">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Busca un video</h5>
              <label class="form-label mt-3">Enlace del video:
              </label>
              <input type="text" id="busquedayt1" placeholder="Ej. youtube.com/" class="form-control" />
              <div class="invalid-feedback" id="invalidpapu">

              </div>
              <button type="button" id="buscarinput" class="btn btn-dark mt-4">
                Buscar
                <div class="spinner-border text-info mr-auto" id="spinner2"
                  style="width: 18px;height: 18px; display: inline-block;" role="status">
                  <span class="sr-only"></span>
                </div>
              </button>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-body">
              <label class="form-label ">Ruta de descarga:
              </label>
              <input type="text" id="downloadrt" disabled="true" class="form-control" />
              <input type="file" name="Elegir ruta" id="dlruta" style="display:none" webkitdirectory mozdirectory>
              <button type="button" class="btn btn-dark mt-3" id="examruta">
                Examinar
                <div class="spinner-grow text-info mr-auto" id="spinner4"
                  style="width: 18px;height: 18px; display: none;" role="status">
                  <span class="sr-only"></span>
                </div>
              </button>
            </div>

          </div>
          <div id="progressp">
            <div class="card mt-3 mr-auto" style="font-size: 15px; text-align: center; padding: 1px;">
              <div class="card-body">
                <h5 id='proceso' class="card-title">Descargando..</h5>
                <div id="basicbarras">
                  <div id="bbarraprogreso" class="progress mt-5 mx-auto" style="width: 70%;">
                    <div class="progress-bar" id="barraprogreso" role="progressbar" style="width: 0%;"
                      aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="mt-4" id="adbarras">
                  <p class="mt-3">Video</p>
                  <div id="aaudioprogreso" class="progress mx-auto" style="width: 70%;">
                    <div class="progress-bar bg-danger" id="audioprogreso" role="progressbar" style="width: 0%;"
                      aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-3">Audio</p>
                  <div id="vvideoprogreso" class="progress mx-auto" style="width: 70%;">
                    <div class="progress-bar bg-info" id="videoprogreso" role="progressbar" style="width: 0%;"
                      aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-3">Codificación</p>
                  <div id="eencodprogreso" class="progress mx-auto" style="width: 70%;">
                    <div class="progress-bar bg-warning" id="encodprogreso" role="progressbar" style="width: 0%;"
                      aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="container mt-5" style="width: 200px;height: 140px;">
                  <img src="../images/image2.svg" id="imagen2" style="width: 100%;height: 100%;" alt="">
                </div>
                <a id="cancelar" href="#" class="btn btn-dark mt-3" style="display: none;">Cancelar</a>
                <div id="configs" class="mt-4">
                  <input class="form-check-input" type="checkbox" id="notificc" value="">
                  <label class="form-check-label text-muted" for="inlineCheckbox1">Sonido al terminar</label>
                  <br>
                  <br>
                  <input class="form-check-input" type="checkbox" id="actprogressp" value="">
                  <label class="form-check-label text-muted" id="lactprog" for="inlineCheckbox1">Barra Avanzada</label>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="col-sm-6 colm2">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title" id="titulovideo">Proporciona un video primero.</h5>

              <div class="container mt-5" style="width: 300px;height: 160px;">
                <img src="../images/image1.svg" id="imagen1" style="width: 100%;height: 100%;  border-radius: 4%;"
                  alt="">
              </div>
              <div id=infovideo style="visibility: hidden;"
                class="mx-auto text-center justify-content-center align-items-center">
                <div class="row">
                  <label class="form-label mt-4" id="infovideo-a">e</label>
                </div>
                <div class="row">
                  <label class="form-label mt-2" id="infovideo-d">a</label>
                </div>
              </div>
              <div class="container d-flex justify-content-center">
                <div id="descargas">

                  <div class="card text-center mt-3" style="width: 320;">
                    <div class="card-header">
                      <ul class="nav nav-tabs card-header-tabs justify-content-center">
                        <li class="nav-item">
                          <a class="nav-link active user-select-none" id="actdescvideo">Video</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link user-select-none" id="actdescaudio">Audio</a>
                        </li>
                      </ul>
                    </div>
                    <div id="descvideo">
                      <div class="container">
                        <div class="row mt-3">
                          <div class="col">
                            <b>Resolución</b>
                          </div>
                          <div class="col">
                            <b>Tamaño</b>
                          </div>
                          <div class="col">
                            <b>Descargar</b>
                          </div>
                        </div>
                        <div class="row mt-3" id="descvideo-2160" style="display: none;">
                          <div class="col">
                            <p>2160p</p>
                          </div>
                          <div class="col">
                            <p id="sz2160"></p>
                          </div>
                          <div class="col">
                            <button id="dlv2160" type="button" style="height: 27px; width: 50px;"
                              class="btn btn-primary btn-sm"><i class="bi bi-download"></i></button>
                          </div>
                        </div>
                        <div class="row mt-2" id="descvideo-1440" style="display: none;">
                          <div class="col">
                            <p>1440p</p>
                          </div>
                          <div class="col">
                            <p id="sz1440"></p>
                          </div>
                          <div class="col">
                            <button id="dlv1440" type="button" style="height: 27px; width: 50px;"
                              class="btn btn-primary btn-sm"><i class="bi bi-download"></i></button>
                          </div>
                        </div>
                        <div class="row mt-2" id="descvideo-1080" style="display: none;">
                          <div class="col">
                            <p>1080p</p>
                          </div>
                          <div class="col">
                            <p id="sz1080"></p>
                          </div>
                          <div class="col">
                            <button id="dlv1080" type="button" style="height: 27px; width: 50px;"
                              class="btn btn-primary btn-sm"><i class="bi bi-download"></i></button>
                          </div>
                        </div>
                        <div class="row mt-2" id="descvideo-720" style="display: none;">
                          <div class="col">
                            <p>720p</p>
                          </div>
                          <div class="col">
                            <p id="sz720"></p>
                          </div>
                          <div class="col">
                            <button id="dlv720" type="button" style="height: 27px; width: 50px;"
                              class="btn btn-primary btn-sm"><i class="bi bi-download"></i></button>
                          </div>
                        </div>
                        <div class="row mt-2" id="descvideo-480" style="display: none;">
                          <div class="col">
                            <p>480p</p>
                          </div>
                          <div class="col">
                            <p id="sz480"></p>
                          </div>
                          <div class="col">
                            <button id="dlv480" type="button" style="height: 27px; width: 50px;"
                              class="btn btn-primary btn-sm"><i class="bi bi-download"></i></button>
                          </div>
                        </div>
                        <div class="row mt-2" id="descvideo-360" style="display: none;">
                          <div class="col">
                            <p>360p</p>
                          </div>
                          <div class="col">
                            <p id="sz360"></p>
                          </div>
                          <div class="col">
                            <button id="dlv360" type="button" style="height: 27px; width: 50px;"
                              class="btn btn-primary btn-sm"><i class="bi bi-download"></i></button>
                          </div>
                        </div>
                        <div class="row mt-2" id="descvideo-144" style="display: none;">
                          <div class="col">
                            <p>144p</p>
                          </div>
                          <div class="col">
                            <p id="sz144"></p>
                          </div>
                          <div class="col">
                            <button id="dlv144" type="button" style="height: 27px; width: 50px;"
                              class="btn btn-primary btn-sm"><i class="bi bi-download"></i></button>
                          </div>
                        </div>
                        <div id="carga3">
                          <div class="container" style="width: 300px;height: 160px;">
                            <div class="center">
                              <div class="spinner-border text-dark" role="status"
                                style="margin: auto;position: absolute;top: 0; left: 0; bottom: 0; right: 0;;">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="descaudio" style="display: none;">
                      <div class="container">
                        <div class="row mt-3">
                          <div class="col">
                            <b>Bitrate</b>
                          </div>
                          <div class="col">
                            <b>Tamaño</b>
                          </div>
                          <div class="col">
                            <b>Descargar</b>
                          </div>
                        </div>
                        <div class="row mt-2" id="descaudio-160" style="display: none;">
                          <div class="col">
                            <p>160kb</p>
                          </div>
                          <div class="col">
                            <p id="sza160"></p>
                          </div>
                          <div class="col">
                            <button id="dla160" type="button" style="height: 27px; width: 50px;"
                              class="btn btn-primary btn-sm"><i class="bi bi-download"></i></button>
                          </div>
                        </div>
                        <div class="row mt-2" id="descaudio-128" style="display: none;">
                          <div class="col">
                            <p>128Kb</p>
                          </div>
                          <div class="col">
                            <p id="sza128"></p>
                          </div>
                          <div class="col">
                            <button id="dla128" type="button" style="height: 27px; width: 50px;"
                              class="btn btn-primary btn-sm"><i class="bi bi-download"></i></button>
                          </div>
                        </div>
                        <div class="row mt-2" id="descaudio-64" style="display: none;">
                          <div class="col">
                            <p>64Kb</p>
                          </div>
                          <div class="col">
                            <p id="sza64"></p>
                          </div>
                          <div class="col">
                            <button id="dla64" type="button" style="height: 27px; width: 50px;"
                              class="btn btn-primary btn-sm"><i class="bi bi-download"></i></button>
                          </div>
                        </div>
                        <div class="row mt-2" id="descaudio-48" style="display: none;">
                          <div class="col">
                            <p>48Kb</p>
                          </div>
                          <div class="col">
                            <p id="sza48"></p>
                          </div>
                          <div class="col">
                            <button id="dla48" type="button" style="height: 27px; width: 50px;"
                              class="btn btn-primary btn-sm"><i class="bi bi-download"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="footerbar">
    <footer class="bg-dark text-center p-2 ms-auto" style="color:white;"><a>Azdl - Versión 1.1</a>
    </footer>
  </div>
  <br>
  <br>
  <script src="../scripts/search.js"></script>
  <script src="../scripts/function.js"></script>
  <script src="../scripts/test.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

</body>

</html>